#searchbar{
    background-color: rgba(0,0,0,0.5);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
/* A grid of film posters, center aligned using flex */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f1f1f1;
 
}

.grid-item {
    text-align: center;
    position: relative;
    background-color: black;
    max-width: 200px;
    margin: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item:hover .overlay {
    opacity: 1;
}
.grid-item:hover img {
    opacity: 0.5;
}

.section{
    padding: 30px;
    border-top:1px solid #EEE;
    border-bottom: 1px solid #EEE;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#leaderboard-section{
    padding: 30px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
}

#leaderboards {
    width: 100%;
}

#leaderboards td {
    vertical-align: top;
    padding: 20px;
    border: 1px solid black;
    width: 33%;
    background-color: white;
    border-radius:10px
}

#leaderboards ol{
    padding-left: 20px;
}

#loading-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#loading-bar {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.pickerFlag{
    /* nested in the bottom right */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 20px;
    color: white;
    font-size: 12px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

.KelvCol{
    background-color: #974242;
}
.KyleCol{
    background-color: #425397;
}
.PhilCol{
    background-color: #6b9742;
}
.DomCol{
    background-color: #977042;
}
.VasCol{
    background-color: #744297;
}
.JackCol{
    background-color: orange;
}
.KitCol{
    background-color: #974276;
}
.IvanCol{
    background-color: #5d4545;
}


/* Mobiles */
@media screen and (max-width: 600px) {
    .grid-item {
        max-width: 100%;
    }

    #leaderboards td{
        width: 100%;
        display: block;
    }
    
}